header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-size: 18px;
    background-color: var(--gray);
}

.nav__ul{
    display: flex;
}

.nav__ul > li{
    padding-right: 60px;
}

.screen-columns{
    min-height: 980px;
    box-sizing: border-box;
    position: relative;
}

.screen-columns:first-child{
    background-image: url("../img/earlgrey.jpg");
    background-size: cover;
}

.screen-columns:nth-child(2n){
    background-color: var(--gray);
    color: var(--dark-gray);
}

.screen-columns:nth-child(2n+1){
    background-color: #001516;
    color: white;
}

.screen-columns:nth-child(6){
    position: relative;
    z-index: 1;
}
.screen-columns:nth-child(6)::before{
    content: "";
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
    background-image: url("../img/cafe.jpg");
    background-size: cover;
    z-index: -1;
}

.screen-footer{
    background-color: black;
    box-sizing: border-box;
    color: white;
    padding-top: 60px;
}

.screen-container{
    width: 70%;
    height: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.screen-main{
    padding-left: 40px;
    height: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen-main h2, .screen-exp h2{
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 70px;
}

.screen-title h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 70px;
}

.screen-main p{
    font-size: 18px;
    margin-bottom: 45px;
    width: 42%;
}

.screen-title p{
    font-size: 16px;
    margin-bottom: 45px;
    width: 80%;
    line-height: 1.4;
}

.screen-order{
    padding: 15px 30px;
    background-color: var(--gray);
    border-radius: 50px;
    font-weight: 600;
    width: 102px;
}

.screen-big-caption{
    justify-self: center;
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 50%;
}


.screen-alt-title{
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 128px 0;
}

.screen-alt-title h2{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 70px;
}

.screen-list{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.screen-row{
    width: 33.33%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 32px;
    padding-bottom: 55px;
}

.screen-caption{
    width: 350px;
    object-fit: cover;
    height: 350px;
    border-radius: 50%;
}

.screen-caption__figure{
    border: 5px solid var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    margin: 0 auto;
}

.screen-caption__figure span:first-child{
    font-size: 80px;
}

.screen-caption__figure span:last-child{
    font-size: 50px;
}

.screen-content h3{
    font-size: 24px;
    margin: 20px 0;
    font-weight: 600;
}

.screen-exp{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 140px;
}

.screen-exp p{
    font-size: 18px;
    font-weight: 600;
    margin: 50px auto;
    line-height: 2.2;
}

.footer-cover{
    width: 70%;
    margin: 0 auto;
}

.footer-icons{
    display: flex;
}

.footer-icons > span{
    color: black;
    background-color: white;
    border-radius: 50%;
    font-size: 24px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.screen-form{
    width: 1000px;
    background-color: white;
    height: 55px;
    border-radius: 34px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.screen-form > :nth-child(n){
    border: none;
    border-radius: 24px;
    height: inherit;
    padding: 0 20px;
    font-size: 20px;
}

.screen-form > input{
    width: 100%;
    margin-right: 170px;
}

.screen-form > button{
    background-color: var(--dark-gray);
    font-weight: 600;
    position: absolute;
    right: 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
    align-items: center;
}

.footer-more{
    display: flex;
    justify-content: center;
}

.footer-container h3{
    padding-bottom: 25px;
    font-size: 25px;
    font-weight: 600;
}

.footer-list > li{
    line-height: 1.4;
}

.footer-title > p{
    line-height: 1.2;
    padding-bottom: 30px;
}

.footer-rows, .footer-title{
    padding: 0 30px;
    margin-bottom: 40px;
}

.footer-rows{
    width: 33%;
}

.screen-order, .nav__icon, button, .footer-icons{
    cursor: pointer;
}